// ************ variables & mixins ************
$color-primary: #fcc419;

@mixin flex ($alignment) {
  display: flex;
  justify-content: $alignment;
}

@function mapHeight($a, $b) {
  @return $a - $b;
}

// **************** general ********************
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}

body {
  font-family: 'Nunito Sans', sans-serif;
  // font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  @include flex (space-between);
}


.icon {
  width: 24px;
  height: 24px;
}

.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  padding: 8px 24px;
  border-radius: 12px;
  cursor: pointer;
}

// **************** sections ********************

// ****** navigation bar *****
nav {
  font-size: 2rem;
  height: 8vh;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.08);
  align-items: center;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  padding-top: 1.2rem;
  @include flex (space-between);

  div {
    gap: 3.6rem;
    @include flex (space-between);

    button {
      font-weight: 800;
      transition: all 0.4s;

      &:hover {
        background-color: darken($color-primary, 7%);
        // transform: scale(1.2);
      }
    }
  }
}

// *********** map ***********
.map {
  height: 92vh;
  width: 50vw;
  overflow: hidden;
}

// ****** school list *******
.schoolList {
  height: 91vh;
  margin: 3.6rem 5.6rem 2.4rem 6.4rem;
}
