// ************ variables & mixins ************
$color-primary: #fcc419;
$color-text: #495057;
$color-shade-hover: #ca9d14;
$color-grey-border: #807c7b;
$color-close-light: #6B7278;
$color-close-dark: #43474b;

@mixin flex ($alignment) {
  display: flex;
  justify-content: $alignment;
}

@mixin icon-styling {
  cursor: pointer;
  transition: all 0.3s;
}

@mixin tag-styling {
  padding: 0 0.8rem;
  border-radius: 12px;
}

// **************** general ********************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}

body {
  font-family: 'Nunito Sans', sans-serif;
  // font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  color: $color-text;
}

.container {
  @include flex (space-between);
}


.icon {
  width: 20px;
  height: 20px;
}

.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  padding: 6px 16px;
  border-radius: 12px;
  cursor: pointer;
}

// **************** sections ********************

// ****** navigation bar *****
nav {
  font-size: 2rem;
  height: 8vh;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.08);
  align-items: center;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  padding-top: 1.2rem;
  @include flex (space-between);

  div {
    gap: 3.6rem;
    @include flex (space-between);

    button {
      font-weight: 700;
      transition: all 0.4s;

      &:hover {
        background-color: darken($color-primary, 7%);
      }
    }
  }
}

// *********** map ***********
.map {
  height: 92vh;
  width: 50vw;
  overflow: hidden;
}

// ****** school list *******
.schoolList {
  height: 91vh;
  margin: 3.6rem 5.6rem 2.4rem 6.4rem;
}

// ****** search *******
.container-search {
  @include flex(center);
  align-items: center;
  gap: 0.8rem;
  margin-left: 1.8rem;

  input {
    font-size: 1.8rem;
    border: none;
    border-bottom: 2px solid $color-grey-border;
  }

  .icon-search {
    @include icon-styling;
    width: 24px;
    height: 24px;

    &:hover {
      stroke: $color-shade-hover;
      transform: scale(1.05);
    }
  }
}

// ****** add school *******
.btn-add {
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.4s;

  &:hover {
    background-color: darken($color-primary, 7%);
  }
}

// ****** school list ******
.list {
  margin-top: 1.6rem;

  // ***** school entry *****
  div {
    padding: 1.8rem 1.8rem 0.8rem 1.8rem;
    position: relative;

    &:hover {
      border-radius: 12px;
      box-shadow: 0px 0px 12px 2px rgba(151,118,15,0.1);
    }

    .school-name {
      font-size: 2.2rem;
      font-weight: 600;
    }

    ul {
      align-items: center;
      gap: 1.6rem;
      flex-direction: row;
    }

    .tag-list{
      @include flex(start);
      margin-left: 0;
      .tag-opening {
        font-size: 1.4rem;
        text-align: center;
        background-color: #e7f5ff;
        @include tag-styling;
      }

      .tag-location {
        font-size: 1.4rem;
        @include flex(center);
        @include tag-styling;
        align-items: center;
        gap: 0.3rem;
        background-color: #ebfbee;
      }
    }

    .school-description {
      font-size: 1.8rem;
      margin-bottom: 1.6rem;
    }

    .icon-list {
      @include flex(end);
      margin-right: 0;

      li {
        font-size: 1.6rem;
        @include flex(center);
        align-items: center;
        gap: 0.3rem;
        cursor: pointer;

        &:hover {
          color: $color-shade-hover;
          transform: scale(1.05);
        }
      }
    }

    .icon-close {
      @include icon-styling;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-50%, 50%);
      stroke: $color-close-light;

      &:hover {
        width: 22px;
        height: 22px;
        transform: translate(-50%, 50%);
        stroke: $color-close-dark;
      }
    }
  }
}

// ****** add school form *******
.nextui-c-grJsex-ikUaMfZ-css {
  max-width: 80rem;
}

.modal-title {
  font-size: 2.4rem;
  font-weight: 600;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 3.2rem;
  align-items: center;
  font-size: 1.8rem;
  margin: 3rem 3rem 1.5rem 3rem;

  input, textarea {
    border: none;
    border-bottom: 2px solid #868e96;
    @include flex(center);
    align-items: center;
    gap: 0.3rem;
    width: 225px;
  }

  label{
    select {
      border-radius: 8px;
    }
  }

  .input-name {
    grid-column: 1/-1;
  }

  .input-description {
    grid-column: 1/-1;

    textarea {
      width: 400px;
    }
  }

  .input-address {
    grid-column: 1/3;

    input {
      width: 400px;
    }
  }

  .input-city {
    input {
      width: 150px;
    }
  }

  .input-state {
    input {
      width: 100px;
    }
  }

  .input-zip {
    grid-column: 3/4;

    input {
      width: 150px;
    }
  }

  .input-review {
    grid-row: 6/7;
    grid-column: 1/-1;

    textarea {
      width: 400px;
    }
  }

  .btn-addSchool {
    grid-row: 7/8;
    grid-column: 1/-1;
    width: 8rem;
    justify-self: end;
    font-weight: 600;
    margin-bottom: 2.4rem;
  }
}

.nextui-c-iDzHRq {
  margin: 2.4rem;
}

.review-entry {
  margin: 1.6rem;
  @include flex(start);
  align-items: center;
  gap: 3rem;

  .review-text {
    font-size: 1.8rem;
  }

  .review-img {
    width: 6.8rem;
    height: 6.8rem;
  }
}

.form-review.input-newReview {
  // border-bottom: 2px solid #868e96;
  width: 56rem;
}

.btn-addReview {
  font-size: 1.6rem;
  font-weight: 600;
  width: 18rem;
}

.btn-saveReview {
  font-size: 1.6rem;
  font-weight: 600;
  width: 8rem;
}